@import '../../style/mixin.less';

.home {
	// background-color: #555;
	font-size: 40px;
	height: 100vh;
}

.content {
	display: flex;
	flex-direction: column;
	// margin: 10px;
	padding: 20px;
}
.content > div + div {
	margin-top: 20px;
}

.user {
	display: flex;
	justify-content: space-between;
	padding: 20px 0;
}

.font-bold {
	font-weight: bold;
}

.left {
	display: flex;
}

.img {
	width: 100px;
	height: 100px;
	background-color: rgb(217, 217, 217);
	border-radius: 50%;
	margin-right: 20px;
}

.right {
	display: flex;
	font-size: 40px;
	.small {
		font-size: 30px;
	}
	.font-gray {
		color: gray;
	}
}
.right > div {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.right > div + div {
	margin-left: 20px;
}

.box {
	height: 400px;
	display: flex;
	justify-content: space-between;
	gap: 30px;
	text-align: center;
}

.box-item {
	flex: 1;
	border-radius: 10px;
}

.content-item {
	height: 400px;
	text-align: center;
	border-radius: 10px;
}

.gray {
	background-color: rgb(217, 217, 217);
}

